<%- include('templates/header-admin') %>
    <div id="table-content" class="bg-white">
        <div class="container bg-white">
            <h1 class="text-center">ROSTER</h1>
            <h2 id="week-title" class="text-center">WEEK <%= data.roster.weekNumber %> (<%= data.roster.yearNumber %>)
            </h2>
        </div>
        <div class="alert alert-danger" id="alert" role="alert" hidden></div>
        <div class="table-responsive text-center">
            <table class="table table-bordered  table-striped border-dark">
                <thead class="align-middle">
                    <tr class="table text-white" id="table-header">
                        <th class="align-middle" scope="col">Staff</th>
                        <% data.days.forEach(function (day){%>
                            <th scope="col">
                                <%= day %>
                            </th>
                            <%}); %>
                    </tr>
                </thead>
                <tbody>
                    <% data.roster.staffs.forEach(function (staff){%>
                        <tr class="align-middle table-light">
                            <th id="table-staff-name" scope="row">
                                <%= staff.name %>
                            </th>
                            <td data-bs-toggle="modal" onClick="saveValue('<%= staff.name %>,monday')"
                                data-bs-target="#modalShift">
                                <%= staff.monday %>
                            </td>
                            <td data-bs-toggle="modal" onClick="saveValue('<%= staff.name %>,tuesday')"
                                data-bs-target="#modalShift">
                                <%= staff.tuesday %>
                            </td>
                            <td data-bs-toggle="modal" onClick="saveValue('<%= staff.name %>,wednesday')"
                                data-bs-target="#modalShift">
                                <%= staff.wednesday %>
                            </td>
                            <td data-bs-toggle="modal" onClick="saveValue('<%= staff.name %>,thursday')"
                                data-bs-target="#modalShift">
                                <%= staff.thursday %>
                            </td>
                            <td data-bs-toggle="modal" onClick="saveValue('<%= staff.name %>,friday')"
                                data-bs-target="#modalShift">
                                <%= staff.friday %>
                            </td>
                            <td data-bs-toggle="modal" onClick="saveValue('<%= staff.name %>,saturday')"
                                data-bs-target="#modalShift">
                                <%= staff.saturday %>
                            </td>
                            <td data-bs-toggle="modal" onClick="saveValue('<%= staff.name %>,sunday')"
                                data-bs-target="#modalShift">
                                <%= staff.sunday%>
                            </td>
                        </tr>
                        <%}); %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center">
        <button id="modalHours"  onClick="calculateHours()" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHours" aria-expanded="false" aria-controls="collapseHours">
            Check Hours
        </button>
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#sendEmailModal">
            Send Roster
        </button>
    </div>
    <%- include('shift-modal') %>
    <%- include('hours-modal') %>
    <%- include('email-modal') %>
    <%- include('templates/footer') %>