<%- include('templates/header') %>

<div id="table-content">
    <div class="container bg-white">
        <h1 class="text-center">ROSTER</h1>
        <h2 id="week-title" class="text-center">WEEK <%= data.roster.weekNumber %> (<%= data.roster.yearNumber %>)</h2>
    </div>
    <div class="table-responsive text-center">
        <table class="table table-bordered  table-striped border-dark">
            <thead class="align-middle">
                <tr class="table-dark">
                    <th class="table-light" scope="col">Staff</th>
                    <% data.days.forEach(function (day){%>
                    <th scope="col"><%= day %></th>
                    <%}); %>
                </tr>
            </thead>
            <tbody>
                <tbody>
                    <% data.roster.staffs.forEach(function (staff){%>
                        <tr class="align-middle table-light">
                            <th scope="row"><%= staff.name %></th>
                            <td><%= staff.monday %></td>
                            <td><%= staff.tuesday %></td>
                            <td><%= staff.wednesday %></td>
                            <td><%= staff.thursday %> </td>
                            <td><%= staff.friday %></td>
                            <td><%= staff.saturday %></td>
                            <td><%= staff.sunday%> </td>
                        </tr>
                        <%}); %>
                </tbody>
        </table>
    </div>
</div>

<%- include('templates/footer') %>